:root {
    --body-background-color: #424242;
    --header-background-color: linear-gradient(20deg, #6E9277 20%, #FFD483 50%, #FC6467 85%);
    --nav-background-color: #424242;
    --nav-text-color: #B2C5D6;
    --nav-hover-color: #4B4B4B;
    --wrapper-background-color: #B2C5D6;
    --border-color: #424242;
    --text-color: #424242;
}

header {
    background: var(--header-background-color);
}

li {
    color: var(--text-color);
}

hr {
    border-style: dashed;
    border-color: var(--border-color);
    color: var(--text-color);
    margin: auto;
}

svg {
    margin-top: .2%;
    margin-bottom: .2%;
    margin-left: 20%;
    margin-right: auto;
    display: block; /* want to figure out why this works */
}

img {
    width: 100%;
}

.img-container {
    margin: .5vh;
    border: 0;
    width: 35%;
    float:left;
}

figcaption {
    color: var(--text-color);
}

.example-img-container {
    margin: .2%;
    border: 0;
    width: 35%;
}